<%%= form_for @<%=model_name %> do |f| %>
  <ol>
    <li>
      <%%=f.label :username %>
      <%%=f.text_field :username %>
    </li>
    <li>
      <%%=f.label :email %>
      <%%=f.text_field :email %>
    </li>
    <li>
      <%%=f.label :password %>
      <%%=f.password_field :password %>
    </li>
    <li>
      <%%=f.label :password_confirmation %>
      <%%=f.password_field :password_confirmation %>
    </li>
    
  </ol>
  <%%=f.submit "Create account" %>
<%% end %>